<div class="container-fluid">
    <div class="jumbotron">
        <h1>Insta Clone.</h1>
        <p><a class="btn btn-primary btn-lg" href="./users/sign_in" role="button">ログイン</a></p>
        <p><a class="btn btn-primary btn-lg" href="./users/sign_up" role="button">サインアップ</a></p>
    </div>
</div>
