<header class="intro-header" style="background-image:url(<%= asset_path "login-bg.jpg" %>)">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
        <div class="page-heading">
          <h1>編集</h1>
          <hr class="small">
          <span class="subheading">下記から変更できます。</span>
        </div>
      </div>
    </div>
  </div>
</header>

<div class="container">
  <div class="col-md-6 col-md-offset-3 col-sm-10 col-sm-offset-1">
    <%= render 'form' %>
  </div>
</div>